# This Jupyter notebook is used for testing.

Methods are imported from intervals, test methods from test_utils.py.
Users can play with the model and output dataframe.

In [1]:
%load_ext autoreload
%autoreload 2
from main_objs import *
from test_utils import test_on_model, build_crim_models

In [8]:
files = ["01", "08", "16", "17"]
models = build_crim_models(files)

Requesting file from https://raw.githubusercontent.com/CRIM-Project/CRIM-online/master/crim/static/mei/MEI_4.0/CRIM_Model_0001.mei...
Successfully imported.
Requesting file from https://raw.githubusercontent.com/CRIM-Project/CRIM-online/master/crim/static/mei/MEI_4.0/CRIM_Model_0008.mei...
Successfully imported.
Requesting file from https://raw.githubusercontent.com/CRIM-Project/CRIM-online/master/crim/static/mei/MEI_4.0/CRIM_Model_0016.mei...
Successfully imported.
Requesting file from https://raw.githubusercontent.com/CRIM-Project/CRIM-online/master/crim/static/mei/MEI_4.0/CRIM_Model_0017.mei...
Successfully imported.

In [12]:
result_dfs = []
for model in models:
    df = test_on_model(model.getNgrams, model.getMelodic(kind='d'), 3, 'columnwise', None, 'Held',
                  ['Rest'], ('d', True, True), str, 0, 0, 'end', False)
    result_dfs.append(df)

In [13]:
result_dfs[0]

          Superius Contratenor PrimusTenor SecundusTenor     Bassus
12.0      5, -2, 2         NaN         NaN           NaN        NaN
14.0      -2, 2, 3         NaN         NaN           NaN        NaN
16.0      2, 3, -2         NaN         NaN           NaN        NaN
18.0     3, -2, -2         NaN         NaN           NaN        NaN
21.0    -2, -2, -2         NaN         NaN           NaN        NaN
...            ...         ...         ...           ...        ...
1065.0         NaN         NaN         NaN           NaN    2, 2, 2
1066.0         NaN  -2, -2, -2         NaN      2, 3, -2    2, 2, 2
1068.0         NaN   -2, -2, 4         NaN     3, -2, -2   2, 2, -3
1070.0         NaN         NaN         NaN           NaN  2, -3, -3
1072.0         NaN   -2, 4, -2         NaN    -2, -2, -2  -3, -3, 5

[747 rows x 5 columns]

In [18]:
result_dfs[3]

       [Discantus] [Contratenor]    [Tenor] [QuintaVox] [SextaVox]  [Bassus]
8.0            NaN       1, 2, 2        NaN         NaN        NaN       NaN
10.0           NaN       2, 2, 2        NaN         NaN        NaN       NaN
12.0           NaN      2, 2, -4        NaN         NaN        NaN       NaN
14.0           NaN      2, -4, 8        NaN         NaN        NaN       NaN
18.0           NaN     -4, 8, -2        NaN         NaN        NaN       NaN
...            ...           ...        ...         ...        ...       ...
1480.0         NaN           NaN        NaN         NaN        NaN  -3, 1, 4
1484.0         NaN           NaN        NaN   -5, 8, -3        NaN       NaN
1488.0    -2, 1, 2           NaN        NaN         NaN        NaN       NaN
1492.0         NaN           NaN  -5, 5, -2         NaN        NaN       NaN
1496.0         NaN       2, 1, 2        NaN         NaN        NaN       NaN

[731 rows x 6 columns]

In [6]:
# see something with models
models[0].getMelodic()

       Superius Contratenor PrimusTenor SecundusTenor Bassus
0.0         NaN        Rest        Rest          Rest   Rest
4.0          P5         NaN         NaN           NaN    NaN
8.0         NaN        Rest        Rest          Rest   Rest
10.0        -M2         NaN         NaN           NaN    NaN
12.0         M2         NaN         NaN           NaN    NaN
...         ...         ...         ...           ...    ...
1065.0      NaN         NaN         NaN           NaN     m2
1066.0      NaN         -M2         NaN           -M2     M2
1068.0      NaN          A4         NaN           -M2    -m3
1070.0      NaN         NaN         NaN           NaN    -M3
1072.0      NaN         -M2         NaN           -m2     P5

[781 rows x 5 columns]